{{define "main"}}
<br>
<section class="page">
    <h1 class="title-center">{{.Title}}</h1>
    <span class="text-center">{{.Content}}</span>
    <div class="member-list">
    {{range .Site.Data.members}}
    <div class="card">
        <img class="member-picture" src='{{.Site.BaseURL}}/member-img/{{.img}}' alt="{{.name}}" />
        <h3>{{.name}}</h3>
        <small style="text-align: center;"><i>{{.about}}</i></small>
        <a href="{{.url}}" target="_blank" rel="noopener noreferrer">{{.url}}</a>
    </div>
    {{end}}
    </div>
</section>
{{end}}